.posts {
  width: 95%;
  max-width: 95%;
  margin: var(--size-8) auto;
  padding: 0 160px 0 0;
}

.posts h1 {
  font-size: var(--size-8);
  color: var(--color-grey-800);
  text-align: center;
}

@media (min-width: 768px) {
  .posts h1 {
    font-size: var(--size-16);
  }
}