@import "/styles/mixin";
.project-grid{
  width:100%;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 1.2rem;
  justify-content: space-between;
  justify-items: center;
  overflow: hidden;
  .mixin_mobile({
    grid-template-columns: repeat(1,1fr);
  });
  li{
    display: inline-grid;
  }
}