.project-grid{
  width:100%;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 0 20px;
  justify-content: space-between;
  justify-items: center;
  overflow: hidden;
  //grid-template-columns:  repeat(auto-fill,200px);
  //grid-template-rows: repeat(3,200px);
  //grid-template-columns: 1fr 1fr 2fr;
  //grid-template-columns: 150px 1fr 2fr;
  //grid-template-rows: repeat(auto-fill,200px);
  li{
    display: inline-grid;
  }
}