@import "/styles/mixin";
.grid {
  width: 85%;
  margin: 1.5rem auto 0;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 1.2rem;
  align-content: center;
  .mixin_mobile({
    width: 100%;
  });
}
