.footer{
  width: 100%;
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  bottom: 0;
  transform: translateY(100%);
  z-index: var(--index-1);
  transition: all .6s;
  backdrop-filter: saturate(50%) blur(12px);
  .footer-content{
    a{
      color: white;
    }
    .footer-content-for-us{
      padding: 1.5rem 0;
      display: grid;
      grid-gap: 15px 0;
      .footer-content-webInfo{
        display: grid;
        justify-content: center;
        justify-items: center;
        grid-template-columns: auto auto;
        grid-gap: 0 20px;
        li{
          color: white;
          font-size: var(--size-4);
        }
      }
      .footer-content-list{
        display: grid;
        justify-content: center;
        justify-items: center;
        grid-template-columns: auto auto auto auto auto;
        grid-gap: 0 20px;
        li{
          font-weight: bold;
          color: white;
          font-size: var(--size-6);
        }
      }
    }
  }
}