.header {
  width: 100vw;
  height: 5rem;
  background-color: rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  transition: all .6s;
  transform: none;
}

.header ul {
  list-style: none;
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 0;
}

.header li {
  margin: 0 var(--size-4);
}

.header a {
  color: var(--color-grey-100);
  font-size: var(--size-4);
}

.header a:hover,
.header a:active,
.header a.active {
  color: var(--color-grey-200);
}

@media (min-width: 768px) {
  .header ul {
    gap: 0.5rem;
  }

  .header a {
    font-size: var(--size-5);
  }
}
